
//variable

$primary: #008C45;  
$secondary: #209495;   



 
@import "bootstrap-5.0.2/scss/bootstrap"

h1,h2,h3,h4,h5,h6{
    font-family: "Roboto Slab", serif;
 }

 body{
    font-family: "Roboto", serif;
 }
 

 header.site-header {
  @extend .text-white;
  @extend .py-3;
  @extend .fixed-top;
  @extend .bg-primary;
}

nav.navbar {
  @extend .navbar-expand-md;
  @extend .navbar-dark;
}